extends site-layout

block head
    link( href='/stylesheets/awesome-bootstrap-checkbox.css', rel='stylesheet' )
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet")
    script( src='//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js' )
    script( src='/scripts/table-styling.js' )

block content
    .filters
        .sorters
            .filter
                +position_sort_toolbar
                    +position_sort('All', false, "active")
                    +position_sort('C')
                    +position_sort('1B')
                    +position_sort('2B')
                    +position_sort('3B')
                    +position_sort('SS')
                    +position_sort('OF')
                    +position_sort('CI')
                    +position_sort('MI')
                    +position_sort('DH', true)

            .filter
                +league_filter_toolbar
                    +league_filter('All', false, "active")
                    +league_filter('AL')
                    +league_filter('NL', true)

        .filter
            span.projection_filters
                +projection_filter('ZiPS', true)
                +projection_filter('ESPN', false)
                +projection_filter('CBS')

    .table-wrapper
            h1 Player Projections
            table.display( id='players-table', cellspacing=0, width="100%" )
            