#content {
    width: 80%;
    padding-left: 40px;
}

.filters {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.sorters {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.table-wrapper tr {
    line-height: 10px;
}

.table-wrapper h1 {
    margin-bottom: 30px;
}

.table-filter-item {
    padding-right: 2px;
}

.table-filter-item {
    padding-right: 2px;
}

.table-filter-item.active {
    font-weight: bold;
    color: red;
}

.table-filter-item:not(.active):hover {
    color: #0099ff;
}

.table-filter-item:hover {
    cursor: pointer;
}

div.toolbar {
    float: left;
    margin-left: 40px;
}